html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: #333;
}

a {
  font-weight: 300;
  color: #333;
}

.highlighted-link {
  font-weight: 600;
  color: #88d8bf;
}

/* TEXT */
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* BORDERS */
.border-rounded {
  border-radius: 5px;
}

.border-top {
  border-top: 1px solid #d7d7d7;
}

.border-bottom {
  border-bottom: 1px solid #d7d7d7;
}

.border-bottom-light {
  border-bottom: 1px solid #efefef;
}

.border-all {
  border: 1px solid #d7d7d7;
}

/* FOR TESTING */
.test {
  border: 1px solid red;
}

.test2 {
  border: 1px solid blue;
}

/* CONTAINERS */
.route-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* COMPONENT SPECIFIC */
input[type='text'] {
  padding-left: 10px;
  height: 40px;
  border: 2px solid #88d8bf;
  width: 320px;
}

select {
  height: 40px;
  width: 320px;
}

textarea {
  height: 100px;
  width: 320px;
  resize: none;
  border: none;
  outline: 2px solid #88d8bf;
}

button {
  width: 200px;
  border-radius: 0px;
}

/* REACT COMPONENTS */
.feed-image {
  max-width: 600px;
}

.profile-image-container {
  width: 75px;
  height: 75px;
}

.profile-image {
  border-radius: 50%;
  width: 75px;
  height: 75px;
}

.error-text {
  height: 20px;
  margin: 0;
  padding: 0;
  color: red;
}

.spinner {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.loading-overlay {
  opacity: 1;
  animation: fade 0.1s linear;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/* LINKS */
.top-nav-link {
  height: 25px;
}
